 

 <div id="content">
 	  <p class='buttons'>

   		<%= link_to  "Add Pages", new_admin_skill_path, :class => 'button positive' %>
   	</p>
		<p class='clear'></p>
		   

			<table class="admintable">
			  <tr class="admintablehd">
			    <td width="25%">Title</td>
			    <td width="27%" style="text-align: center !important;">Action</td>
			  </tr>
			
			<% @skills.each do |skill| %>
			  <tr>
			    <td><%= skill.category %></td>
			    <td style="text-align: center !important;"> <%= link_to "Edit", edit_admin_skill_path(skill), :class=>'button positive' %> &nbsp;&nbsp; 
				<a href="/admin/skills/<%= skill.id %>/delete" onclick="if(confirm('Are you sure you want to delete this page?'))  return true;  else  return false;" class="button negative" >Delete</a>
				</td>
			    
			  </tr>
			<% end %>
			</table>
			
</div>