<!-- Start Content -->
<div id="content">

	<!-- Start Main Content -->	
		<div id="main-content">
		
		  <div class="post-list">
					<h1><%= @notification.title %></h1>
						<div class="post-meta">
							<ul>
								<li class="meta-date ie6fix"><%= (@notification.created_at.strftime("%a %d %b, %Y")) %></li>
								
							</ul>
							<div class="clear"></div>
						</div>
					<p><%= @notification.description.html_safe %></p>
								
					<div class="clear"></div>
					<div class="main-ruler"></div>			
		   </div>
		
		</div>
	<!-- End Main Content -->
		
	<!-- Start Sidebar -->
		<div id="sidebar">
					
			<div class="widget">
				<div class="widget-top round-top"></div>
				<h3>Recent Stock Market Tips</h3>				
				<div class="widget-content">
				<% tips = Tip.find(:all, :order => 'id desc', :limit => 5) %>
				<% tips.each do |stip| %>
				<ul class="arrow-list">
					<li>
						<%= link_to stip.title , tip_path(stip) %>
					</li>
														
				</ul>
				
				<% end %>
				<p>&nbsp;</p>
				<p><a href="/tips" class="arrow-link">View all</a></p>
				</div>
			</div>
			
			<div class="widget">
				<div class="widget-top round-top"></div>
				<h3>Get in Touch</h3>
				<div class="widget-content">
					<p>We are highly committed to deliver services with quality and profitability! Get in touch with us to know more ....</p>
					<a href="#" class="arrow-link">Contact Us</a>			
				</div>
			</div>					
		</div>
		<!-- End Sidebar -->
		
	<!-- End Sidebar -->
	<div class="clear"></div>
</div>
<!-- End Content -->