

<!-- Start Content -->
<div id="content">
	<!-- Start Main Content -->	
	<div id="main-content-full">
		<div id="contact-info" class="two-col">
			<h1>Contact Us</h1>
			<div class="main-ruler"></div>						
			<p>Aenean tincidunt pharetra leo. Curabitur euismod sollicitudin elit. Donec faucibus lacus nec sapien. Aliquam ipsum nisi, scelerisque et, commo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Cupidatat rollover sunt in anim id est.</p>
			<div class="fl mar-right">
				<h3>Address</h3>
				<p>STB FINANCIAL SERVICES.<br />Nagpur, India</p>
			</div>
			<h3>Contact Info.</h3>
			<p><strong>Telephone:</strong>+91 712 3010539 <br /><strong>Email:</strong> info@stbgroup.in </p>
			
		</div>		
		<div class="two-col end-col">
		
		
		   <div id="contact-form">
			<% form_for :reset_password, :html=>{:id=>'contactform'} do |form| %>
			
			 
				<fieldset>
					<p class="hide" id="response"></p>				
					<div class="field-group">
						<label class="required" for="form_name">Name<span>*</span></label>
						<%= form.text_field :name, :size => 40, :class => "field" %>
						
					</div>
					<div class="field-group">
						<label class="required" for="form_email">Email<span>*</span></label>
						<%= form.text_field :email, :size => 40, :class => "field" %>
						
					</div>
					<div class="clear"></div>
					<label class="required" for="form_message">Message<span>*</span></label>
					<%= form.text_area :message, :rows => 4, :cols => 34, :class => 'text' %>						
					<%= submit_tag 'Submit', :class => "small-primary-btn input-btn" %>
					
            		<div class="hide">
               			<label for="spam_check">Do not fill out this field</label>
                		<input id="spam_check" name="spam_check" type="text" value="" />
          			</div>					
				</fieldset>
			<% end %>
		   </div>
		
				
		</div>
		<div class="ruler"></div>
	</div>
	<!-- End Main Content -->	
    <div class="clear"></div>
</div>
<!-- End Content -->