

<!-- Start Content -->
<div id="content">
	<!-- Start Main Content -->	
	<div id="main-content-full">
		<div id="contact-info" class="two-col">
			<h1>Contact Us</h1>
			<div class="main-ruler"></div>						
			
			<div class="fl mar-right">
				<h3>NAGPUR</h3>
				<p>36. "SAHAYADRI" , Cement Road <br/>
          Shivaji Nagar Nagpur- 440010. <br/>
          <b>Phone No :</b> 0712-2248246, 2248769,<br/>2248098, 2248044 <br/>
          <b>Cell No :</b> 9822467820, 9850300746.</p>
			</div>
			<h3>NANDED</h3>
			<p>Rabhani complex, Tilak Nagar chowk,
         Bhagya Nagar,<br/> Nanded- 431605.<br/>
         <b>Cell No :</b> 9822467820,<br/> 9850300746.
         9850732239, 9921553289. </p>
			
			<div class="fl mar-right">
			   <h3>PUSAD</h3>
  				<p>Near rest house washim road, <br/>
            Pusad. 445204. <br/>
            <b>Cell No :</b> 9822467820, 9850300746,<br/>9850732239,9921553289 <br/>

  			</div>
  			<h3>YAVATMAL</h3>
  			<p>Laxmi vilas complex, Dutta chowk,
           Yavatmal- 445001.<br/>
           <b>Cell No :</b> 9822467820, 9850300746.9850732239,
                                               9921553289 </p>
		</div>
		
		 	
		<div class="two-col end-col">
		
		
		   <div id="contact-form">
			<% form_for :reset_password, :html=>{:id=>'contactform'} do |form| %>
			
			 
				<fieldset>
					<p class="hide" id="response"></p>				
					<div class="field-group">
						<label class="required" for="form_name">Name<span>*</span></label>
						<%= form.text_field :name, :size => 40, :class => "field" %>
						
					</div>
					<div class="field-group">
						<label class="required" for="form_email">Email<span>*</span></label>
						<%= form.text_field :email, :size => 40, :class => "field" %>
						
					</div>
					<div class="clear"></div>
					<label class="required" for="form_message">Message<span>*</span></label>
					<%= form.text_area :message, :rows => 4, :cols => 34, :class => 'text' %>						
					<%= submit_tag 'Submit', :class => "small-primary-btn input-btn" %>
					
            		<div class="hide">
               			<label for="spam_check">Do not fill out this field</label>
                		<input id="spam_check" name="spam_check" type="text" value="" />
          			</div>					
				</fieldset>
			<% end %>
		   </div>
		
				
		</div>
		<div class="ruler"></div>
	</div>
	<!-- End Main Content -->	
    <div class="clear"></div>
</div>
<!-- End Content -->