<div id="stage-wrap">
	<!-- Start Ad and Promotion Content -->
	<div id="stage">
        <div class="anythingSlider">
        	<div class="wrapper">
				<ul>
					<li>
						<div class="slide-feature round-all fl">
							<img alt="" src="images/slide1-596x310.jpg" />
						</div>
						<div class="slide-content fr">
							<h2>Stock Broking Services</h2>
							<p>Our vision is to offer various Financial Services and Products in such a way that it leads to optimum gains for the entities involved in these transactions.</p>
							
							<a href="/pages/finance" class="small-secondary-btn">Learn More</a>	
						</div>
				   	</li>
				    <li>
				   		<div class="slide-feature round-all fr">
							<img alt="" src="images/slide2-596x310.jpg" />
						</div>
						<div class="slide-content fl">
							<h2>Share Market Advisory Services</h2>
							<p>We offer the best Share Market Advisory Services to help our clients to gain the momentum in stock broking and see their investments growing very fast. Our vision is to provide a host of real time, financial advisory services to clients trading on the Shares and Commodities and help them achieve their desired goals.</p>
							<a href="/pages/finance" class="small-secondary-btn">Learn More</a>	
						</div>		   
					 </li>
				    <li>
				   		<div class="slide-feature round-all fl">
							<img alt="" src="images/slide3-596x310.jpg" />
						</div>
						<div class="slide-content fr">
							<h2>Educational Services</h2>
							<p>Our vision is to provide our students the best in the class coaching to gain the thorough practical insights of the subjects and prepare them to excel in their academics as well as in competitive examinations.</p>
							<a href="/pages/education" class="small-secondary-btn">Learn More</a>
						</div>
					 </li>
				    <li>
				   		<div class="slide-feature round-all fr">
							<img alt="" src="images/slide4-596x310.jpg" />
						</div>
						<div class="slide-content fl">
							<h2>Get your Fees Refund !!!</h2>
							<p>If you are not able to excel in your academics or competitive examinations, then you can get your fees refund. Our confidence to help you grow is indomitable…</p>
							<a href="/pages/education" class="small-secondary-btn">Learn More</a>
						</div>
					 </li>
				</ul>        
			</div>
		</div>  
	</div>
	<!-- End Ad and Promotion Content -->	
</div>
<div id="headline-wrap">
	<div id="headline-callout">
		<h1>Welcome to STB Financial Services.</h1>
		<a href="/contacts" class="large-primary-btn">Contact Us<span class="ie6fix"></span></a>	
	</div>
</div>
<!-- Start Content -->
<div id="home-wrap">	
	<div id="content">
		<!-- Start Main Content -->	
		<div id="main-content">
			<h3>What We Do</h3>
			<p>STB Financial Services is one of the most trusted financial service providers in Central India. With diversified business in Financial Services such as Stock Broking Services, Share Market Advisory Services, Mutual Funds, Life Insurance Services up to the Education Services such as coaching for CS, CPT (CA Entrance), ICWA, BCA, BBA, BCCA, HSSC, B.Com, MBA etc., we have emerged as the global leader in these two major verticals.</p>
			 <a href="/pages/about" class="arrow-link">Learn More</a>
			<div class="section">				
				<div class="three-col">
					<div class="highlight-box" style="padding-bottom:21px !important;">
						<img class="large-icon ie6fix" alt="" src="images/checked-paper.png" />
						<h3>Financial Services</h3>
					</div>
					<p class="no-pad">Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula.</p>
					<a href="#" class="arrow-link">Learn More</a>		
				</div>
				<div class="three-col">
					<div class="highlight-box">
						<img class="large-icon ie6fix" alt="" src="images/web.png" />
						<h3>Commerce Coaching Classes</h3>
					</div>
					<p class="no-pad">Donec commodo euismod rutrum. Proin rhoncus eros a sapien tempor vestibulum. Sed egestas posuere risus quis sodales. Nulla et sapien at tortor condimentum euismod ac in velit. Integer suscipit lorem id nunc gravida congue. Aliquam libero nisi, imperdiet at, tincidunt nec.</p>
					<a href="#" class="arrow-link">Learn More</a>		
				</div>			
				<div class="ruler"></div>
				<div class="three-col">
					<h3>Benefits</h3>
					<ul class="check-list">
						<li class="ie6fix">Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est.</li>
						<li class="ie6fix">Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula.</li>
						<li class="ie6fix">Proin rhoncus eros a sapien tempor.</li>					
					</ul>
				</div>
				<div class="three-col">
					<h3>What people are saying</h3>
					<div class="quote">
						<div class="ie6fix"></div>
						<p><em>Aliquam odio neque, porttitor ut aliquam eu, aliquam quis purus. Mauris nunc sapien, sodales eu adipiscing in, lobortis eu justo. Curabitur in mollis erat. Phasellus vel elit non dolor fermentum volutpat ut quis enim.</em></p>
						<p><strong>Simon Cartwright, CFO</strong></p>
					</div>
				</div>
				<div class="ruler"></div>				
			</div>													
		</div>
		<!-- End Main Content -->			
		<!-- Start Sidebar -->
		<div id="sidebar">
			<div class="widget">
				<div class="widget-top round-top"></div>
				<h3>Recent Stock Market Tips</h3>				
				<div class="widget-content">
				<% tips = Tip.find(:all, :order => 'id desc', :limit => 5) %>
				<% tips.each do |stip| %>
				<ul class="arrow-list">
					<li>
						<%= link_to stip.title , tip_path(stip) %>
						<p><em><%= truncate(stip.description, :length => 70).html_safe %></em></p>
					</li>
														
				</ul>
				
				<% end %>
				
				</div>
			</div>
			<div class="widget">
				<div class="widget-top round-top"></div>
				<h3>Our Services</h3>
				<div class="widget-content">
					<ul class="arrow-list">
						<li><a href="/pages/finance">Finance</a></li>
						<li><a href="/pages/education">Education</a></li>									
					</ul>
				</div>
			</div>			
		</div>
		<!-- End Sidebar -->
		<div class="clear"></div>
	</div>
</div>
<!-- End Content -->