<!-- Start Content -->
<div id="content" style="height:220px;">

	<!-- Start Main Content -->	
		<div id="main-content">
		
<section class="no_body_content_right" id="body_content">
  <h1 id="body_content_title">Page not found</h1>
<section id="body_error_left">
<div class="inner"><h2>Sorry, there was a problem...</h2><p>The page you requested was not found.</p>
<p><a href="/">Return to the home page</a></p></div>
</section>
</section>

</div>
</div>
<!-- End Main Content -->